.mono
{
    font-family: Menlo, monospace;
    font-size: 0.85em;
}

body
{
    font-family: 'Arimo', sans-serif;
}

.margin1
{
    margin-right: 1000pt;
}

.divout h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.padding1
{
    padding: 10pt;
}

.divout
{
    outline: 3pt solid black;
}

button
{
    background: none;
    border: none;
    font-family: inherit;
}

.btnblue
{
    outline: 3pt solid rgb(76, 112, 255);
    padding: 5pt;
    padding-inline: 10pt;
    color: rgb(76, 112, 255);
}